.wrapper {
    width: 400px;
    height: 450px;
    overflow: hidden;
    padding: 10px;
}

.image {
    width: 40%;
    height: 40%;
}

.description {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.link {
    font-size: 25px;
    margin-bottom: 10px;
}