.wrapper {
    width: 94%;
    background: #2A2A2A;
    height: 90px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 3%;
}

.info_box {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
}

.logo_box {
    display: flex;
    gap: 5px;
}

.logo_box img {
    width: 30px;
    height: 30px;
}