.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-top: 85px;
}

.select_wrapper {
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.list_wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}